.App {
  font-family: sans-serif;
  text-align: center;
}

.withoutSalary {
  background-color: #ccc;
}

.cell {
  border: 1px solid black;
  border-collapse: collapse;
}

.table {
  border-collapse: collapse;
}

.checked {
  background: rgba(0, 0, 255, 0.2);
}
